body{
    font-family: "Calibri";
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    outline: none;
}

.basic_button{
    background: $primaryColor;
    color: #eee;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px 2px 10px;

    &:hover{
        background: #ff2828;
    }
}

.title{
    padding: 0 70px;
    margin: 40px 0 60px 0;

    hr{
        height: 0;
        border-top: 2px solid $fontColor;
    }

    .titleText{
        font-size: 23px;
        font-weight: bolder;
        width: 25% ; 
        background: #fff;
        margin: -40px auto 0 auto;
        text-align: center;
        padding: 0 10px;
    }
}