/* line 1, ../sass/base/_base.scss */
body {
  font-family: "Calibri";
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
  outline: none;
}

/* line 1, ../sass/modules/_header.scss */
#header {
  width: 100%;
  height: 40px;
  background: #ff0000;
  padding: 3px 0 0 0;
  margin: 0;
}
/* line 8, ../sass/modules/_header.scss */
#header .headerElement {
  display: inline-block;
}
/* line 12, ../sass/modules/_header.scss */
#header ul {
  margin: 0;
  padding: 0;
  width: 85%;
  float: right;
  list-style: none;
}
/* line 19, ../sass/modules/_header.scss */
#header ul #headerSocial {
  text-align: right;
}
/* line 22, ../sass/modules/_header.scss */
#header ul #headerSocial .fab {
  font-size: 20px;
  padding: 7px 0 0 20px;
}
/* line 27, ../sass/modules/_header.scss */
#header ul #headerSocial .fb {
  color: #3b5998;
}
/* line 31, ../sass/modules/_header.scss */
#header ul #headerSocial .tw {
  color: #38A1F3;
}
/* line 35, ../sass/modules/_header.scss */
#header ul #headerSocial .pinterest {
  background: #fff;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  color: #c8232c;
  padding: 1px;
  margin-left: 10px;
}
/* line 45, ../sass/modules/_header.scss */
#header ul #headerSocial .linkedin {
  color: #0077B5;
}
/* line 50, ../sass/modules/_header.scss */
#header ul #headerEmail {
  padding-left: 20px;
}
/* line 54, ../sass/modules/_header.scss */
#header ul li {
  display: inline-block;
  width: 33%;
}
/* line 58, ../sass/modules/_header.scss */
#header ul li h6 {
  padding: 0 0 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
/* line 65, ../sass/modules/_header.scss */
#header ul li span {
  color: #333;
  font-size: 18px;
}
/* line 70, ../sass/modules/_header.scss */
#header ul li .headerItem {
  display: inline-block;
}
/* line 76, ../sass/modules/_header.scss */
#header #logo {
  width: 100px;
}

@media screen and (max-width: 1000px) {
  /* line 83, ../sass/modules/_header.scss */
  #header {
    width: 100%;
    height: 20vh;
  }
  /* line 88, ../sass/modules/_header.scss */
  #header #logo {
    display: none;
  }
  /* line 92, ../sass/modules/_header.scss */
  #header .container {
    padding: 0;
    margin: 0;
  }
  /* line 97, ../sass/modules/_header.scss */
  #header ul {
    float: none;
    width: 100%;
    text-align: center;
  }
  /* line 102, ../sass/modules/_header.scss */
  #header ul li {
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }
  /* line 107, ../sass/modules/_header.scss */
  #header ul li .headerItem {
    display: inline;
  }
  /* line 112, ../sass/modules/_header.scss */
  #header ul #headerSocial {
    text-align: center;
  }
}
/* line 3, ../sass/modules/_navbar.scss */
#navbar .resp-navbar {
  display: none;
}
/* line 7, ../sass/modules/_navbar.scss */
#navbar ul {
  list-style: none;
  text-transform: uppercase;
  background: transparent;
  float: right;
  width: 90%;
  height: 40px;
  padding: 10px 0 0 0;
  font-size: 16px;
  margin-top: -2px;
  font-weight: bolder;
  letter-spacing: 2px;
}
/* line 20, ../sass/modules/_navbar.scss */
#navbar ul li {
  display: inline;
  padding: 11px 18px;
  text-align: center;
  cursor: pointer;
}
/* line 26, ../sass/modules/_navbar.scss */
#navbar ul li a {
  text-decoration: none;
  color: #222;
}
/* line 31, ../sass/modules/_navbar.scss */
#navbar ul li:hover {
  background: #eee;
}

@media screen and (max-width: 1199px) {
  /* line 40, ../sass/modules/_navbar.scss */
  #navbar ul li {
    padding: 11px 5px;
  }
}
@media screen and (max-width: 1000px) {
  /* line 47, ../sass/modules/_navbar.scss */
  #navbar {
    height: 50px;
    width: 100%;
    background: #ddd;
    padding: 0;
    margin: 0;
  }
  /* line 54, ../sass/modules/_navbar.scss */
  #navbar .resp-navbar {
    display: block;
  }
  /* line 57, ../sass/modules/_navbar.scss */
  #navbar .resp-navbar ol {
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 0 0 0px;
  }
  /* line 64, ../sass/modules/_navbar.scss */
  #navbar .resp-navbar ol li {
    display: inline-block;
    text-align: center;
    margin: 0;
  }
  /* line 70, ../sass/modules/_navbar.scss */
  #navbar .resp-navbar ol #menuToggler {
    float: right;
    border: none;
    height: 50px;
    width: 50px;
    font-size: 20px;
    margin: 0;
    background: transparent;
    padding: 15px 0 0 0;
    cursor: pointer;
  }
  /* line 82, ../sass/modules/_navbar.scss */
  #navbar .resp-navbar ol #menuToggler button {
    background: transparent;
    border: none;
  }
  /* line 87, ../sass/modules/_navbar.scss */
  #navbar .resp-navbar ol #menuToggler:hover {
    background: #ccc;
  }
  /* line 92, ../sass/modules/_navbar.scss */
  #navbar .resp-navbar ol #menu {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 50px;
    padding: 4px 0 0 40%;
  }
  /* line 106, ../sass/modules/_navbar.scss */
  #navbar .container {
    display: none;
    padding: 0;
  }
  /* line 110, ../sass/modules/_navbar.scss */
  #navbar .container ul {
    background: #ddd;
    width: 100%;
    height: 50vh;
    margin: 0;
    padding-top: 0;
  }
  /* line 116, ../sass/modules/_navbar.scss */
  #navbar .container ul li {
    display: block;
  }
}
