/* line 1, ../sass/base/_base.scss */
body {
  font-family: "Calibri";
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

/* line 10, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
  outline: none;
}

/* line 15, ../sass/base/_base.scss */
.basic_button {
  background: #ff0000;
  color: #eee;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 10px 2px 10px;
  box-shadow: 0 0 10px 2px #ccc;
}
/* line 28, ../sass/base/_base.scss */
.basic_button:hover {
  background: #ff2828;
}

/* line 33, ../sass/base/_base.scss */
.title {
  padding: 0 70px;
  margin: 40px 0 60px 0;
}
/* line 37, ../sass/base/_base.scss */
.title hr {
  height: 0;
  border-top: 2px solid #222;
}
/* line 42, ../sass/base/_base.scss */
.title .titleText {
  font-size: 23px;
  font-weight: bolder;
  width: 25%;
  background: #fff;
  margin: -40px auto 0 auto;
  text-align: center;
  padding: 0 10px;
}

/* line 53, ../sass/base/_base.scss */
.box-shadow {
  box-shadow: 0 0 10px 2px #ccc;
}

/* line 58, ../sass/base/_base.scss */
.card {
  border-radius: 5px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  /* line 66, ../sass/base/_base.scss */
  .title .titleText {
    width: 100%;
    margin: 0;
  }
}
/* line 1, ../sass/modules/_header.scss */
#header {
  width: 100%;
  height: 40px;
  background: #ff0000;
  padding: 3px 0 0 0;
  margin: 0;
  z-index: 99;
  position: relative;
}
/* line 10, ../sass/modules/_header.scss */
#header .headerElement {
  display: inline-block;
}
/* line 14, ../sass/modules/_header.scss */
#header ul {
  margin: 0;
  padding: 0;
  width: 85%;
  float: right;
  list-style: none;
}
/* line 21, ../sass/modules/_header.scss */
#header ul #headerSocial {
  text-align: right;
}
/* line 24, ../sass/modules/_header.scss */
#header ul #headerSocial .fab {
  font-size: 20px;
  padding: 7px 0 0 20px;
}
/* line 29, ../sass/modules/_header.scss */
#header ul #headerSocial .fb {
  color: #3b5998;
}
/* line 33, ../sass/modules/_header.scss */
#header ul #headerSocial .tw {
  color: #38A1F3;
}
/* line 37, ../sass/modules/_header.scss */
#header ul #headerSocial .pinterest {
  background: #fff;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  color: #c8232c;
  padding: 1px;
  margin-left: 10px;
}
/* line 47, ../sass/modules/_header.scss */
#header ul #headerSocial .linkedin {
  color: #0077B5;
}
/* line 52, ../sass/modules/_header.scss */
#header ul #headerEmail {
  padding-left: 20px;
}
/* line 56, ../sass/modules/_header.scss */
#header ul li {
  display: inline-block;
  width: 33%;
}
/* line 60, ../sass/modules/_header.scss */
#header ul li h6 {
  padding: 0 0 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
/* line 67, ../sass/modules/_header.scss */
#header ul li span {
  color: #333;
  font-size: 18px;
}
/* line 72, ../sass/modules/_header.scss */
#header ul li .headerItem {
  display: inline-block;
}
/* line 78, ../sass/modules/_header.scss */
#header #logo {
  width: 100px;
  z-index: 999;
  margin-top: -2px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  /* line 88, ../sass/modules/_header.scss */
  #header {
    width: 100%;
    height: auto;
    padding: 0px 0 10px 0;
  }
  /* line 93, ../sass/modules/_header.scss */
  #header #logo {
    display: none;
  }
  /* line 97, ../sass/modules/_header.scss */
  #header .container {
    padding: 0;
    margin: 0;
  }
  /* line 102, ../sass/modules/_header.scss */
  #header ul {
    float: none;
    width: 100%;
    text-align: center;
  }
  /* line 107, ../sass/modules/_header.scss */
  #header ul li {
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }
  /* line 112, ../sass/modules/_header.scss */
  #header ul li .headerItem {
    display: inline;
  }
  /* line 117, ../sass/modules/_header.scss */
  #header ul #headerSocial {
    text-align: center;
  }
}
/* line 1, ../sass/modules/_navbar.scss */
#navbar {
  position: relative;
  margin-bottom: -10px;
  padding: 0;
  height: auto;
  z-index: 99;
}
/* line 8, ../sass/modules/_navbar.scss */
#navbar .resp-navbar {
  display: none;
}
/* line 12, ../sass/modules/_navbar.scss */
#navbar ul {
  list-style: none;
  text-transform: uppercase;
  background: transparent;
  float: right;
  width: 90%;
  height: 40px;
  padding: 9px 0 0 0;
  font-size: 16px;
  margin-top: -2px;
  font-weight: bolder;
  letter-spacing: 2px;
}
/* line 25, ../sass/modules/_navbar.scss */
#navbar ul li {
  display: inline;
  padding: 10.5px 18px;
  text-align: center;
  cursor: pointer;
}
/* line 31, ../sass/modules/_navbar.scss */
#navbar ul li a {
  text-decoration: none;
  color: #222;
}
/* line 36, ../sass/modules/_navbar.scss */
#navbar ul li:hover {
  background: #eee;
}
/* line 40, ../sass/modules/_navbar.scss */
#navbar ul li ul {
  background: #ccc;
  height: auto;
  width: auto;
  border: none;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
/* line 53, ../sass/modules/_navbar.scss */
#navbar ul li ul li {
  display: block;
  border-top: 1px solid #ddd;
}
/* line 57, ../sass/modules/_navbar.scss */
#navbar ul li ul li a {
  display: block;
  padding: 0;
  margin: 0;
  background: transparent;
  font-weight: bolder;
}
/* line 66, ../sass/modules/_navbar.scss */
#navbar ul li ul li:first-child {
  border: none;
}

@media screen and (max-width: 1199px) {
  /* line 76, ../sass/modules/_navbar.scss */
  #navbar ul li {
    padding: 11px 5px;
  }
}
@media screen and (min-width: 1000px) {
  /* line 82, ../sass/modules/_navbar.scss */
  #resp_navbar {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  /* line 88, ../sass/modules/_navbar.scss */
  #navbar {
    display: none;
  }

  /* line 94, ../sass/modules/_navbar.scss */
  #resp_navbar {
    display: block;
  }
  /* line 97, ../sass/modules/_navbar.scss */
  #resp_navbar button {
    display: block;
    position: absolute;
    right: 20px;
    margin: 15px 0;
  }
  /* line 104, ../sass/modules/_navbar.scss */
  #resp_navbar h3 {
    padding: 10px;
    margin: 0;
  }
  /* line 108, ../sass/modules/_navbar.scss */
  #resp_navbar h3 img {
    padding: 0;
  }
  /* line 115, ../sass/modules/_navbar.scss */
  #resp_navbar #myNavbar ul {
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  /* line 120, ../sass/modules/_navbar.scss */
  #resp_navbar #myNavbar ul li {
    display: block;
    width: 100%;
  }
  /* line 124, ../sass/modules/_navbar.scss */
  #resp_navbar #myNavbar ul li a {
    color: #222;
  }
  /* line 128, ../sass/modules/_navbar.scss */
  #resp_navbar #myNavbar ul li ul {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
  }
  /* line 134, ../sass/modules/_navbar.scss */
  #resp_navbar #myNavbar ul li ul li {
    padding: 10px 0;
    background: #eee;
  }
  /* line 138, ../sass/modules/_navbar.scss */
  #resp_navbar #myNavbar ul li ul li a {
    color: #555;
    text-decoration: none;
  }
  /* line 143, ../sass/modules/_navbar.scss */
  #resp_navbar #myNavbar ul li ul li:hover {
    background: #bbb;
  }
  /* line 149, ../sass/modules/_navbar.scss */
  #resp_navbar #myNavbar ul li:hover {
    background: #ddd;
  }
}
/* line 1, ../sass/modules/_imageslider.scss */
#imageslider {
  margin-top: -10px;
  height: 35vw;
  width: 100%;
  padding: 0;
  position: relative;
  top: -10px;
}
/* line 10, ../sass/modules/_imageslider.scss */
#imageslider ol {
  margin-bottom: 5vw;
  z-index: 1;
}
/* line 14, ../sass/modules/_imageslider.scss */
#imageslider ol li {
  height: 15px;
  width: 15px;
  margin: 3px;
  border-radius: 50%;
}
/* line 22, ../sass/modules/_imageslider.scss */
#imageslider img {
  width: 100%;
  height: 100%;
}

/* line 29, ../sass/modules/_imageslider.scss */
#bookingSection {
  height: 120px;
  width: 100%;
  background: rgba(170, 170, 170, 0.8);
  margin: -60px 0 0px 0;
  padding: 10px 30px;
  border-radius: 6px;
  box-shadow: 0 0px 5px 1px #777;
  position: relative;
  z-index: 99;
}
/* line 40, ../sass/modules/_imageslider.scss */
#bookingSection form#booking_form {
  width: 100%;
}
/* line 43, ../sass/modules/_imageslider.scss */
#bookingSection form#booking_form #booking_GuestNos {
  width: 100%;
}
/* line 46, ../sass/modules/_imageslider.scss */
#bookingSection form#booking_form #booking_GuestNos::-webkit- {
  display: none;
}
/* line 51, ../sass/modules/_imageslider.scss */
#bookingSection form#booking_form input[type=submit] {
  font-family: 'calibri';
}
/* line 56, ../sass/modules/_imageslider.scss */
#bookingSection form#booking_form label {
  font-size: 18px;
  padding: 10px 0;
}
/* line 61, ../sass/modules/_imageslider.scss */
#bookingSection form#booking_form input {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  border: none;
  font-weight: bolder;
  font-family: "consolas";
}
/* line 70, ../sass/modules/_imageslider.scss */
#bookingSection form#booking_form select {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 10px;
}
/* line 79, ../sass/modules/_imageslider.scss */
#bookingSection form#booking_form .labels {
  display: none;
}
/* line 83, ../sass/modules/_imageslider.scss */
#bookingSection form#booking_form input[type=date] {
  text-transform: uppercase;
}
/* line 86, ../sass/modules/_imageslider.scss */
#bookingSection form#booking_form input[type=date]::-webkit-inner-spin-button {
  display: none;
}
/* line 90, ../sass/modules/_imageslider.scss */
#bookingSection form#booking_form input[type=date]::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  display: block;
  background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
  width: 15px;
  height: 15px;
  border-width: thin;
  cursor: pointer;
}
/* line 103, ../sass/modules/_imageslider.scss */
#bookingSection form#booking_form input[type=number] {
  text-align: right;
}
/* line 112, ../sass/modules/_imageslider.scss */
#bookingSection form#booking_form span {
  position: absolute;
  right: 45px;
  height: 35px;
  width: 35px;
  background: red;
  font-size: 25px;
  opacity: .8;
}
/* line 121, ../sass/modules/_imageslider.scss */
#bookingSection form#booking_form span i {
  padding: 7px;
  background: red;
  z-index: -1;
}

@media screen and (max-width: 1000px) {
  /* line 134, ../sass/modules/_imageslider.scss */
  #imageslider {
    height: 50vw;
    position: inherit;
  }

  /* line 139, ../sass/modules/_imageslider.scss */
  #bookingSection {
    position: inherit;
    margin: 20px 0 0 0;
    height: auto;
  }
  /* line 145, ../sass/modules/_imageslider.scss */
  #bookingSection #booking_labels {
    display: none;
  }
  /* line 151, ../sass/modules/_imageslider.scss */
  #bookingSection form#booking_form .labels {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
  }
  /* line 158, ../sass/modules/_imageslider.scss */
  #bookingSection form#booking_form input[type=submit] {
    margin-top: 30px;
  }
  /* line 162, ../sass/modules/_imageslider.scss */
  #bookingSection form#booking_form input[type=number] {
    text-align: left;
  }
}
/* line 5, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary ul.culinary-navigator {
  list-style: none;
  height: auto;
  width: 95%;
  background: backgroundColor;
  padding: 0;
  padding-bottom: 0;
  text-align: center;
}
/* line 14, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary ul.culinary-navigator a {
  text-decoration: none;
  color: #222;
  background: transparent;
}
/* line 20, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary ul.culinary-navigator a li {
  border: none;
  border-top: 2px solid #353cff;
  padding: 8px 0;
  background: #fff;
}
/* line 29, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary ul.culinary-navigator a li i {
  display: none;
  font-size: 50px;
  position: relative;
  float: right;
  right: -15px;
  top: -7px;
  color: #ff0000;
}
/* line 39, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary ul.culinary-navigator a li #right-D {
  display: block;
}
/* line 44, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary ul.culinary-navigator a li.active {
  background: #ff0000;
  font-weight: bold;
  color: #eee;
}
/* line 49, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary ul.culinary-navigator a li.active:after {
  content: '';
  height: 0px;
  width: 0px;
  border: solid transparent;
  border-left-color: #ff0000;
  border-width: 20px;
  position: absolute;
}
/* line 63, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary ul.culinary-navigator a #li-D.active::after {
  transform: translate(47px, -3px);
}
/* line 70, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary ul.culinary-navigator a #li-B.active::after {
  transform: translate(82px, -3px);
}
/* line 77, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary ul.culinary-navigator a #li-C.active::after {
  transform: translate(56px, -3px);
}
/* line 84, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary ul.culinary-navigator a #li-R.active::after {
  transform: translate(23px, -3px);
}
/* line 91, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary ul.culinary-navigator a #li-O.active::after {
  transform: translate(34px, -3px);
}
/* line 98, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary ul.culinary-navigator a #li-A.active::after {
  transform: translate(15px, -3px);
}
/* line 105, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary ul.culinary-navigator a li:first-child {
  border: none;
}
/* line 109, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary ul.culinary-navigator a li:last-child {
  border-bottom: 2px solid #353cff;
}
/* line 116, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary .culinary-content {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
}
/* line 125, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary .culinary-content .tab-pane ul.image-container {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 133, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary .culinary-content .tab-pane ul.image-container li {
  display: inline-block;
  width: 19%;
  height: 100%;
  background: #aaa;
  margin-left: .6%;
  border-radius: 5px;
  overflow: hidden;
}
/* line 143, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary .culinary-content .tab-pane ul.image-container img {
  height: 100%;
  width: 100%;
}
/* line 151, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary .culinary-content .tab-pane .content h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: blue;
  font-weight: bold;
}
/* line 158, ../sass/modules/_displaySection_culinary.scss */
.displaySection .displayCulinary .culinary-content .tab-pane .content p {
  text-align: justify;
  font-weight: bolder;
  font-size: 15px;
  padding-bottom: 10px;
}

@media screen and (min-width: 1000px) {
  /* line 173, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary {
    padding: 0 50px;
  }
  /* line 176, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary ul.resp_culinary-navigator {
    display: none;
  }
  /* line 184, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary ul.culinary-navigator a li {
    font-size: 23px;
    width: 100%;
  }
  /* line 191, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary ul.image-container {
    height: 10vw;
  }

  /* line 198, ../sass/modules/_displaySection_culinary.scss */
  #gallery_title {
    margin-top: 70px;
  }
}
@media screen and (max-width: 1000px) {
  /* line 206, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary {
    padding: 0 25px;
  }
  /* line 209, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary .col-xs-12 {
    padding: 0 5px;
  }
  /* line 213, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary ul.resp_culinary-navigator {
    display: block;
    list-style: none;
    height: auto;
    width: 100%;
    padding: 0 10px;
    border-left: 2px solid #353cff;
    border-right: 2px solid #353cff;
  }
  /* line 223, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary ul.resp_culinary-navigator a {
    color: #222;
    text-decoration: none;
    background: transparent;
  }
  /* line 228, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary ul.resp_culinary-navigator a li {
    padding: 20px 0;
    background: transparent;
    text-align: center;
    font-weight: bold;
  }
  /* line 235, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary ul.resp_culinary-navigator a li.active {
    background: red;
    color: #eee;
    border-radius: 5px;
  }
  /* line 243, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary ul.culinary-navigator {
    display: none;
  }
  /* line 254, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary .culinary-content .tab-pane ul.image-container {
    width: 100%;
    height: 20vw;
  }
  /* line 258, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary .culinary-content .tab-pane ul.image-container li.resp_active {
    width: 31%;
    height: 100%;
  }
  /* line 263, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary .culinary-content .tab-pane ul.image-container li.resp_active img {
    height: 100%;
    width: 100%;
  }
  /* line 269, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary .culinary-content .tab-pane ul.image-container li.resp_inactive {
    display: none;
  }
  /* line 274, ../sass/modules/_displaySection_culinary.scss */
  .displayCulinary .culinary-content .tab-pane .content {
    height: auto;
  }
}
/* line 5, ../sass/modules/_displaySection_conference.scss */
.displaySection .displayConference .card {
  width: 100%;
}
/* line 8, ../sass/modules/_displaySection_conference.scss */
.displaySection .displayConference .card img.cardImage {
  height: 100%;
  width: 100%;
}
/* line 15, ../sass/modules/_displaySection_conference.scss */
.displaySection .displayConference .card-desc {
  width: 100%;
  height: auto;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 30px;
}
/* line 22, ../sass/modules/_displaySection_conference.scss */
.displaySection .displayConference .card-desc h4 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  color: blue;
  text-align: center;
}
/* line 31, ../sass/modules/_displaySection_conference.scss */
.displaySection .displayConference .card-desc h5 {
  margin: 5px 0  10px 0;
  padding: 0;
  color: #222;
  font-size: 16px;
}

@media screen and (min-width: 1000px) {
  /* line 43, ../sass/modules/_displaySection_conference.scss */
  .displayConference {
    padding: 0 70px;
  }
  /* line 46, ../sass/modules/_displaySection_conference.scss */
  .displayConference .card {
    height: 200px;
  }
}
@media screen and (max-width: 1000px) {
  /* line 54, ../sass/modules/_displaySection_conference.scss */
  .displayConference {
    padding: 0 20px;
  }
  /* line 57, ../sass/modules/_displaySection_conference.scss */
  .displayConference .card {
    height: 40vw;
  }

  /* line 62, ../sass/modules/_displaySection_conference.scss */
  .card-desc {
    padding: 5px;
  }
}
/* line 6, ../sass/modules/_displaySection_rooms.scss */
.displaySection .displayRooms .card {
  width: 100%;
  height: 200px;
  background: #aaa;
  margin-bottom: 30px;
}
/* line 12, ../sass/modules/_displaySection_rooms.scss */
.displaySection .displayRooms .card img.cardImage {
  height: 200px;
  width: 55%;
}
/* line 17, ../sass/modules/_displaySection_rooms.scss */
.displaySection .displayRooms .card .card-desc {
  position: absolute;
  right: 15px;
  top: 0;
  width: 43%;
  height: auto;
  padding: 10px;
}
/* line 25, ../sass/modules/_displaySection_rooms.scss */
.displaySection .displayRooms .card .card-desc h4 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px 0;
  color: blue;
}
/* line 33, ../sass/modules/_displaySection_rooms.scss */
.displaySection .displayRooms .card .card-desc h5 {
  margin: 0;
  padding: 0;
  color: orangered;
}
/* line 39, ../sass/modules/_displaySection_rooms.scss */
.displaySection .displayRooms .card .card-desc p {
  font-weight: bold;
  padding: 5px 0 0 0;
}
/* line 44, ../sass/modules/_displaySection_rooms.scss */
.displaySection .displayRooms .card .card-desc button {
  background: #eee;
  color: #ff0000;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  margin: 0 auto;
}
/* line 52, ../sass/modules/_displaySection_rooms.scss */
.displaySection .displayRooms .card .card-desc button:hover {
  background: #ddd;
}

@media screen and (min-width: 1000px) {
  /* line 62, ../sass/modules/_displaySection_rooms.scss */
  .displayRooms {
    display: block;
  }

  /* line 66, ../sass/modules/_displaySection_rooms.scss */
  .resp_displayRooms {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  /* line 73, ../sass/modules/_displaySection_rooms.scss */
  .displayRooms {
    display: none;
  }

  /* line 77, ../sass/modules/_displaySection_rooms.scss */
  .resp_displayRooms {
    display: block;
  }
  /* line 80, ../sass/modules/_displaySection_rooms.scss */
  .resp_displayRooms img {
    border-radius: 7px 7px 0 0;
    box-shadow: 0 -3px 10px 2px #ccc;
  }
  /* line 85, ../sass/modules/_displaySection_rooms.scss */
  .resp_displayRooms .row {
    margin-bottom: 30px;
  }
  /* line 89, ../sass/modules/_displaySection_rooms.scss */
  .resp_displayRooms .card-desc {
    background: #bbb;
    padding: 10px;
    border-radius: 0 0 7px 7px;
    box-shadow: 0 3px 10px 2px #ccc;
  }
  /* line 95, ../sass/modules/_displaySection_rooms.scss */
  .resp_displayRooms .card-desc h4 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 5px 0;
    color: blue;
  }
  /* line 103, ../sass/modules/_displaySection_rooms.scss */
  .resp_displayRooms .card-desc h5 {
    margin: 0;
    padding: 0;
    color: orangered;
  }
  /* line 109, ../sass/modules/_displaySection_rooms.scss */
  .resp_displayRooms .card-desc p {
    font-weight: bold;
    padding: 5px 0 0 0;
  }
  /* line 114, ../sass/modules/_displaySection_rooms.scss */
  .resp_displayRooms .card-desc button {
    background: #eee;
    color: #ff0000;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    margin: 0 auto;
  }
  /* line 122, ../sass/modules/_displaySection_rooms.scss */
  .resp_displayRooms .card-desc button:hover {
    background: #ddd;
  }
}
/* line 5, ../sass/modules/_displaySection_gallery.scss */
.gallery .gallery_slide ul {
  list-style: none;
  width: 100%;
  height: 25vh;
  margin-bottom: 0;
  background: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
/* line 16, ../sass/modules/_displaySection_gallery.scss */
.gallery .gallery_slide ul li {
  width: 15%;
  background: gray;
  margin-left: 10px;
  border-radius: 10px;
  overflow: hidden;
}
/* line 25, ../sass/modules/_displaySection_gallery.scss */
.gallery .gallery_slide ul li img {
  height: 100%;
  width: 100%;
}
/* line 33, ../sass/modules/_displaySection_gallery.scss */
.gallery .carousel-control {
  background: transparent;
  width: 70px;
  opacity: 1;
}
/* line 38, ../sass/modules/_displaySection_gallery.scss */
.gallery .carousel-control span {
  color: #ff0000;
}
/* line 44, ../sass/modules/_displaySection_gallery.scss */
.gallery button {
  margin-top: 20px;
}

/* line 49, ../sass/modules/_displaySection_gallery.scss */
.resp_gallery {
  display: none;
}

@media screen and (max-width: 1024px) {
  /* line 59, ../sass/modules/_displaySection_gallery.scss */
  .gallery .gallery_slide ul {
    height: auto;
  }
  /* line 63, ../sass/modules/_displaySection_gallery.scss */
  .gallery .gallery_slide ul li {
    height: 15vw;
  }

  /* line 70, ../sass/modules/_displaySection_gallery.scss */
  .resp_gallery {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  /* line 76, ../sass/modules/_displaySection_gallery.scss */
  .gallery {
    display: none;
  }

  /* line 80, ../sass/modules/_displaySection_gallery.scss */
  .resp_gallery {
    display: block;
  }
  /* line 83, ../sass/modules/_displaySection_gallery.scss */
  .resp_gallery .row {
    margin-bottom: 20px;
  }
  /* line 87, ../sass/modules/_displaySection_gallery.scss */
  .resp_gallery img {
    box-shadow: 0 0 10px 2px #ccc;
  }
}
/* line 1, ../sass/modules/_review.scss */
.review {
  padding: 0 50px;
  text-align: justify;
}
/* line 5, ../sass/modules/_review.scss */
.review .links, .review .review_container {
  width: 100%;
  height: auto;
}
/* line 10, ../sass/modules/_review.scss */
.review .links {
  padding: 30px;
}
/* line 13, ../sass/modules/_review.scss */
.review .links #links_imageContainer {
  width: 100%;
  height: 100%;
  padding: 0 30px 0 0;
}
/* line 18, ../sass/modules/_review.scss */
.review .links #links_imageContainer img {
  width: 100%;
  height: auto;
}
/* line 24, ../sass/modules/_review.scss */
.review .links h3 {
  margin: 0;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #ff0000;
}
/* line 33, ../sass/modules/_review.scss */
.review .links #hotel_links {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
/* line 41, ../sass/modules/_review.scss */
.review .links #hotel_links .link_Container {
  width: 100%;
  height: 73px;
  margin: 5px;
}
/* line 46, ../sass/modules/_review.scss */
.review .links #hotel_links .link_Container img {
  height: 100%;
  margin: auto;
}
/* line 58, ../sass/modules/_review.scss */
.review #review-container .review_container {
  padding: 30px 10px;
}
/* line 62, ../sass/modules/_review.scss */
.review #review-container .review_container h3 {
  margin: 0;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #ff0000;
}
/* line 74, ../sass/modules/_review.scss */
.review #review-container .review_container .media .checked {
  color: orange;
}
/* line 78, ../sass/modules/_review.scss */
.review #review-container .review_container .media #review_userProfile {
  padding: 0 20px 0 0;
}
/* line 83, ../sass/modules/_review.scss */
.review #review-container .review_container .media h4, .review #review-container .review_container .media h5 {
  text-align: center;
  margin: 0;
}
/* line 90, ../sass/modules/_review.scss */
.review #review-container .review_container .blockquote {
  border-left-color: red;
  height: 16vw;
  overflow-y: scroll;
}
/* line 95, ../sass/modules/_review.scss */
.review #review-container .review_container .blockquote .content {
  margin-bottom: 40px;
  display: block;
}
/* line 99, ../sass/modules/_review.scss */
.review #review-container .review_container .blockquote .content img {
  border-radius: 10px;
}
/* line 106, ../sass/modules/_review.scss */
.review #review-container .review_container .buttonContainer {
  float: right;
}
/* line 109, ../sass/modules/_review.scss */
.review #review-container .review_container .buttonContainer button {
  margin-left: 15px;
}

@media screen and (min-width: 1000px) {
  /* line 126, ../sass/modules/_review.scss */
  .resp_review_container, .resp_links {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  /* line 134, ../sass/modules/_review.scss */
  .review_container {
    display: none;
  }

  /* line 138, ../sass/modules/_review.scss */
  .review {
    padding: 0 20px;
  }

  /* line 142, ../sass/modules/_review.scss */
  .resp_review_container {
    display: block;
  }
  /* line 145, ../sass/modules/_review.scss */
  .resp_review_container h3 {
    margin: 0;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #ff0000;
  }
  /* line 154, ../sass/modules/_review.scss */
  .resp_review_container .media-resp {
    padding: 20px 0;
    border-bottom: 2px solid #bbb;
  }
  /* line 158, ../sass/modules/_review.scss */
  .resp_review_container .media-resp .checked {
    color: orange;
  }
  /* line 162, ../sass/modules/_review.scss */
  .resp_review_container .media-resp #review_userProfile {
    padding: 0 20px 0 0;
  }
  /* line 167, ../sass/modules/_review.scss */
  .resp_review_container .media-resp h4, .resp_review_container .media-resp h5 {
    text-align: center;
    margin: 0;
  }
  /* line 173, ../sass/modules/_review.scss */
  .resp_review_container .media-resp img {
    border-radius: 50%;
  }
}
/* line 1, ../sass/modules/_contact.scss */
.contact_us {
  padding: 20px 50px 50px 50px;
}
/* line 4, ../sass/modules/_contact.scss */
.contact_us .map_Container, .contact_us .form_Container {
  width: 100%;
}
/* line 10, ../sass/modules/_contact.scss */
.contact_us .map_Container {
  height: 35vw;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  background: transparent;
}
/* line 20, ../sass/modules/_contact.scss */
.contact_us .form_Container {
  height: auto;
}
/* line 25, ../sass/modules/_contact.scss */
.contact_us .form_Container form h4 {
  padding-left: 20px;
  text-align: left;
  font-weight: bolder;
}
/* line 32, ../sass/modules/_contact.scss */
.contact_us .form_Container form textarea {
  resize: none;
}
/* line 36, ../sass/modules/_contact.scss */
.contact_us .form_Container form .row {
  padding: 5px 0;
}
/* line 40, ../sass/modules/_contact.scss */
.contact_us .form_Container form input, .contact_us .form_Container form textarea {
  background: rgba(66, 134, 244, 0.7);
  font-family: 'Consolas';
}
/* line 45, ../sass/modules/_contact.scss */
.contact_us .form_Container form button {
  text-transform: inherit;
  margin-top: 10px;
}
/* line 52, ../sass/modules/_contact.scss */
.contact_us .form_Container form input[type=number]::-webkit-inner-spin-button {
  display: none;
}

@media screen and (min-width: 1000px) {
  /* line 63, ../sass/modules/_contact.scss */
  .resp_form_container {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  /* line 69, ../sass/modules/_contact.scss */
  .contact_us {
    padding: 0;
  }
  /* line 72, ../sass/modules/_contact.scss */
  .contact_us .map_Container {
    border-radius: 0;
  }

  /* line 77, ../sass/modules/_contact.scss */
  .form_container {
    display: none;
  }

  /* line 81, ../sass/modules/_contact.scss */
  .resp_form_container {
    margin: 20px 0 0 0;
  }
  /* line 86, ../sass/modules/_contact.scss */
  .resp_form_container form h4 {
    text-align: left;
    font-weight: bolder;
    letter-spacing: 1px;
  }
  /* line 92, ../sass/modules/_contact.scss */
  .resp_form_container form textarea {
    resize: none;
  }
  /* line 96, ../sass/modules/_contact.scss */
  .resp_form_container form input, .resp_form_container form textarea {
    background: rgba(66, 134, 244, 0.7);
    font-family: 'Consolas';
  }
  /* line 101, ../sass/modules/_contact.scss */
  .resp_form_container form button {
    text-transform: inherit;
    margin-top: 10px;
  }
  /* line 108, ../sass/modules/_contact.scss */
  .resp_form_container form input[type=number]::-webkit-inner-spin-button {
    display: none;
  }
}
/* line 1, ../sass/modules/_footer.scss */
.footer {
  width: 100%;
  height: auto;
  background: #222;
  padding: 10px;
  color: #ddd;
}
/* line 8, ../sass/modules/_footer.scss */
.footer .about_us, .footer .latest_news, .footer .keep_connected, .footer .contact_info {
  width: 100%;
  height: auto;
}
/* line 14, ../sass/modules/_footer.scss */
.footer h3 {
  margin: 0 0 10px 0;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #ff0000;
}
/* line 21, ../sass/modules/_footer.scss */
.footer p {
  font-size: 17px;
  font-weight: bold;
  padding: 0px 0;
}
/* line 28, ../sass/modules/_footer.scss */
.footer a {
  color: #ddd;
}
/* line 34, ../sass/modules/_footer.scss */
.footer .latest_news .icon_container, .footer .latest_news .news {
  width: 100%;
  margin-bottom: 10px;
}
/* line 42, ../sass/modules/_footer.scss */
.footer .latest_news .icon_container {
  border-radius: 50%;
  overflow: hidden;
}
/* line 50, ../sass/modules/_footer.scss */
.footer .keep_connected i {
  font-size: 25px;
}
/* line 54, ../sass/modules/_footer.scss */
.footer .keep_connected .row {
  margin: 0 0 15px 0;
}
/* line 58, ../sass/modules/_footer.scss */
.footer .keep_connected .fb {
  color: #3b5998;
}
/* line 63, ../sass/modules/_footer.scss */
.footer .keep_connected .tw {
  color: #38A1F3;
}
/* line 67, ../sass/modules/_footer.scss */
.footer .keep_connected .pinterest {
  color: #c8232c;
}
/* line 71, ../sass/modules/_footer.scss */
.footer .keep_connected .linkedin {
  color: #0077B5;
}
/* line 76, ../sass/modules/_footer.scss */
.footer hr {
  height: 0;
  border-top: 1px solid #ff0000;
}
/* line 81, ../sass/modules/_footer.scss */
.footer h4 {
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  /* line 96, ../sass/modules/_footer.scss */
  .footer .keep_connected p {
    font-size: 15px;
    padding: 0;
  }
  /* line 103, ../sass/modules/_footer.scss */
  .footer .keep_connected .row .col-sm-10 {
    padding: 0px;
  }
  /* line 107, ../sass/modules/_footer.scss */
  .footer .keep_connected .row .col-sm-2 {
    padding: 0;
  }
}
/* The container must be positioned relative: */
/* line 2, ../sass/modules/_selection.scss */
.custom-select {
  position: relative;
  font-family: "Consolas";
  letter-spacing: 1px;
  font-weight: bold;
}

/* line 9, ../sass/modules/_selection.scss */
.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

/* line 13, ../sass/modules/_selection.scss */
.select-selected {
  background-color: #fff;
  color: #bbb;
  border-radius: 6px;
}

/* Style the arrow inside the select element: */
/* line 20, ../sass/modules/_selection.scss */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #888 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
/* line 32, ../sass/modules/_selection.scss */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #888 transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
/* line 38, ../sass/modules/_selection.scss */
.select-items div, .select-selected {
  color: #333;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
/* line 47, ../sass/modules/_selection.scss */
.select-items {
  position: absolute;
  background-color: #ccc;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 5px;
}

/* Hide the items when the select box is closed: */
/* line 58, ../sass/modules/_selection.scss */
.select-hide {
  display: none;
}

/* line 62, ../sass/modules/_selection.scss */
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 1, ../sass/modules/_gallery.scss */
.rows > .columns {
  padding: 0 8px;
}

/* line 5, ../sass/modules/_gallery.scss */
.rows {
  margin-bottom: 20px;
}

/* line 9, ../sass/modules/_gallery.scss */
.rows:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
/* line 16, ../sass/modules/_gallery.scss */
.columns {
  float: left;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

/* The Modal (background) */
/* line 24, ../sass/modules/_gallery.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 999999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
/* line 38, ../sass/modules/_gallery.scss */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  transform: translateY(-45px);
}

/* The Close Button */
/* line 50, ../sass/modules/_gallery.scss */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

/* line 59, ../sass/modules/_gallery.scss */
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
/* line 67, ../sass/modules/_gallery.scss */
.mySlides {
  display: none;
  background: #000000;
}
/* line 71, ../sass/modules/_gallery.scss */
.mySlides img {
  border-radius: 10px 10px 0 0;
}
/* line 75, ../sass/modules/_gallery.scss */
.mySlides .slide_detail {
  padding: 10px;
  background: #ddd;
  border-radius: 0 0 10px 10px;
}
/* line 80, ../sass/modules/_gallery.scss */
.mySlides .slide_detail h4 {
  font-weight: bolder;
  letter-spacing: 1px;
}
/* line 85, ../sass/modules/_gallery.scss */
.mySlides .slide_detail p {
  font-size: 18px;
}

/* Next & previous buttons */
/* line 92, ../sass/modules/_gallery.scss */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
/* line 110, ../sass/modules/_gallery.scss */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* line 116, ../sass/modules/_gallery.scss */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
/* line 122, ../sass/modules/_gallery.scss */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
/* line 132, ../sass/modules/_gallery.scss */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

/* line 139, ../sass/modules/_gallery.scss */
img.demo {
  opacity: 0.6;
  padding: 20px 10px 0 0;
}

/* line 144, ../sass/modules/_gallery.scss */
.active,
.demo:hover {
  opacity: 1;
}

/* line 149, ../sass/modules/_gallery.scss */
img.hover-shadow {
  cursor: pointer;
  transition: 0.3s;
}

/* line 154, ../sass/modules/_gallery.scss */
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 161, ../sass/modules/_gallery.scss */
.desc h4 {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  background: #c5c5c5;
  color: #333;
  font-weight: bolder;
  letter-spacing: 1px;
}

@media screen and (min-width: 1000px) {
  /* line 174, ../sass/modules/_gallery.scss */
  .slideImage {
    height: 450px;
  }
}
@media screen and (max-width: 1000px) {
  /* line 181, ../sass/modules/_gallery.scss */
  .columns {
    margin-bottom: 20px;
  }

  /* line 189, ../sass/modules/_gallery.scss */
  .modal .modal-content {
    transform: translateY(20vw);
  }
}
/* line 1, ../sass/modules/_reviewPage.scss */
.review-content {
  padding: 20px 0;
  border-bottom: 3px solid #aaa;
}
/* line 5, ../sass/modules/_reviewPage.scss */
.review-content img {
  border-radius: 7px;
}
/* line 9, ../sass/modules/_reviewPage.scss */
.review-content .media-body {
  padding: 0 10px;
}
/* line 12, ../sass/modules/_reviewPage.scss */
.review-content .media-body p {
  font-size: 18px;
  text-align: justify;
}
/* line 20, ../sass/modules/_reviewPage.scss */
.review-content h4, .review-content h5 {
  font-weight: bolder;
  letter-spacing: .5px;
}

/* line 26, ../sass/modules/_reviewPage.scss */
.checked {
  color: orange;
}

/* line 30, ../sass/modules/_reviewPage.scss */
.resp_media-content {
  display: none;
}

@media screen and (max-width: 1000px) {
  /* line 35, ../sass/modules/_reviewPage.scss */
  .media-content {
    display: none;
  }

  /* line 39, ../sass/modules/_reviewPage.scss */
  .resp_media-content {
    display: block;
  }
  /* line 42, ../sass/modules/_reviewPage.scss */
  .resp_media-content .resp_content {
    border-bottom: 2px solid #aaa;
    padding: 20px 0 5px 0;
  }
  /* line 47, ../sass/modules/_reviewPage.scss */
  .resp_media-content .resp_content .profile h4, .resp_media-content .resp_content .profile h5 {
    margin: 5px 10px;
    font-weight: bolder;
    letter-spacing: .5px;
    padding-left: 5px;
  }
  /* line 56, ../sass/modules/_reviewPage.scss */
  .resp_media-content .resp_content .rates {
    padding: 5px 0;
    font-size: 12px;
  }
  /* line 61, ../sass/modules/_reviewPage.scss */
  .resp_media-content .resp_content p {
    text-align: justify;
  }
}
/* line 1, ../sass/modules/_contactUs.scss */
blockquote {
  border-left-color: #ff0000;
  padding-bottom: 40px;
}
/* line 5, ../sass/modules/_contactUs.scss */
blockquote ul {
  list-style: none;
}
/* line 11, ../sass/modules/_contactUs.scss */
blockquote ul li h3 {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 4px;
  color: #2832bd;
}
/* line 18, ../sass/modules/_contactUs.scss */
blockquote ul li h6 {
  padding: 0 10px;
}
/* line 22, ../sass/modules/_contactUs.scss */
blockquote ul li .contactItem {
  display: inline-block;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 1px;
}
/* line 28, ../sass/modules/_contactUs.scss */
blockquote ul li .contactItem i {
  color: #222;
  padding: 0 7px;
}

/* line 38, ../sass/modules/_contactUs.scss */
h1#contactUs_title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 5px;
}

/* line 45, ../sass/modules/_contactUs.scss */
#contactUs_form {
  margin-top: 20px;
}
/* line 48, ../sass/modules/_contactUs.scss */
#contactUs_form input, #contactUs_form textarea, #contactUs_form button {
  margin: 7.5px 0;
}
/* line 53, ../sass/modules/_contactUs.scss */
#contactUs_form textarea {
  resize: none;
}

@media screen and (max-width: 1000px) {
  /* line 64, ../sass/modules/_contactUs.scss */
  blockquote {
    border-left: none;
    border-bottom: 4px solid #ff0000;
  }
  /* line 68, ../sass/modules/_contactUs.scss */
  blockquote ul {
    padding: 0;
  }
  /* line 73, ../sass/modules/_contactUs.scss */
  blockquote ul li .contactItem {
    font-size: 15px;
  }
}
/* line 1, ../sass/modules/_conferenceHall.scss */
.conferenceBody {
  padding: 30px 0 40px 0;
  margin-bottom: 10px;
}
/* line 5, ../sass/modules/_conferenceHall.scss */
.conferenceBody blockquote {
  padding: 10px 20px;
  text-align: justify;
}
/* line 9, ../sass/modules/_conferenceHall.scss */
.conferenceBody blockquote h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bolder;
  color: #2832bd;
}
/* line 19, ../sass/modules/_conferenceHall.scss */
.conferenceBody blockquote h3 {
  font-weight: bolder;
  letter-spacing: 2px;
}
/* line 24, ../sass/modules/_conferenceHall.scss */
.conferenceBody blockquote p {
  padding-bottom: 0px;
}
/* line 31, ../sass/modules/_conferenceHall.scss */
.conferenceBody blockquote .buttonContainer button.collapse-btn {
  margin-top: 20px;
}
/* line 36, ../sass/modules/_conferenceHall.scss */
.conferenceBody blockquote .features {
  padding: 20px 0;
}
/* line 39, ../sass/modules/_conferenceHall.scss */
.conferenceBody blockquote .features h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #1bd12a;
  letter-spacing: 2px;
  padding: 0 0 30px 0;
  text-align: center;
}
/* line 48, ../sass/modules/_conferenceHall.scss */
.conferenceBody blockquote .features .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 53, ../sass/modules/_conferenceHall.scss */
.conferenceBody blockquote .features .card-container .row {
  margin: 0 auto;
}
/* line 57, ../sass/modules/_conferenceHall.scss */
.conferenceBody blockquote .features .card-container .card {
  width: 250px;
  height: auto;
  background: #ddd;
  padding: 25px;
  box-shadow: 0 0 10px 1px #aaa;
  margin: 10px 20px 30px 20px;
}
/* line 66, ../sass/modules/_conferenceHall.scss */
.conferenceBody blockquote .features .card-container .card .sym-container {
  text-align: center;
  background: #a3a3a3;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
}
/* line 77, ../sass/modules/_conferenceHall.scss */
.conferenceBody blockquote .features .card-container .card .sym-container i {
  font-size: 45px;
  color: #333;
}
/* line 83, ../sass/modules/_conferenceHall.scss */
.conferenceBody blockquote .features .card-container .card h4 {
  text-align: center;
  font-weight: bolder;
  letter-spacing: 2px;
}

@media screen and (max-width: 1000px) {
  /* line 114, ../sass/modules/_conferenceHall.scss */
  .conferenceBody blockquote {
    padding: auto 0;
  }
}
/* line 1, ../sass/modules/_culinary.scss */
.culinaryContent {
  padding: 10px 0 40px 0;
}
/* line 4, ../sass/modules/_culinary.scss */
.culinaryContent h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: bolder;
  color: #2832bd;
}
/* line 16, ../sass/modules/_culinary.scss */
.culinaryContent .culinary-subMenus img {
  margin-top: 30px;
  border-radius: 7px 7px 0 0;
  box-shadow: 0 -3px 10px 2px #ccc;
}
/* line 22, ../sass/modules/_culinary.scss */
.culinaryContent .culinary-subMenus .row {
  margin-bottom: 30px;
}
/* line 26, ../sass/modules/_culinary.scss */
.culinaryContent .culinary-subMenus .card-desc {
  background: #bbb;
  padding: 10px;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 3px 10px 2px #ccc;
}
/* line 32, ../sass/modules/_culinary.scss */
.culinaryContent .culinary-subMenus .card-desc h4 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px 0;
  color: blue;
}
/* line 40, ../sass/modules/_culinary.scss */
.culinaryContent .culinary-subMenus .card-desc h5 {
  margin: 0;
  padding: 3px 0;
  font-weight: bolder;
  letter-spacing: .5px;
  color: orangered;
}
/* line 48, ../sass/modules/_culinary.scss */
.culinaryContent .culinary-subMenus .card-desc p {
  font-weight: bold;
  padding: 5px 0 0 0;
}
/* line 53, ../sass/modules/_culinary.scss */
.culinaryContent .culinary-subMenus .card-desc button {
  background: #eee;
  color: #ff0000;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  margin: 0 auto;
}
/* line 61, ../sass/modules/_culinary.scss */
.culinaryContent .culinary-subMenus .card-desc button:hover {
  background: #ddd;
}

/* line 1, ../sass/modules/_tariff.scss */
.tariffContainer {
  margin: 80px 0 40px 0;
}
/* line 4, ../sass/modules/_tariff.scss */
.tariffContainer h3 {
  padding: 0;
  margin: 0;
}
/* line 9, ../sass/modules/_tariff.scss */
.tariffContainer ol {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: .5px;
}
/* line 14, ../sass/modules/_tariff.scss */
.tariffContainer ol li {
  padding: 5px;
}

/* line 1, ../sass/modules/_aboutUs.scss */
#introduction {
  margin: 50px 0;
  padding: 20px;
  background: #fff;
}
/* line 8, ../sass/modules/_aboutUs.scss */
#introduction .img-container img {
  border-radius: 10px;
}
/* line 13, ../sass/modules/_aboutUs.scss */
#introduction .text-container {
  padding: 10px 30px;
}
/* line 16, ../sass/modules/_aboutUs.scss */
#introduction .text-container h2 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: #2832bd;
}
/* line 23, ../sass/modules/_aboutUs.scss */
#introduction .text-container p {
  font-size: 18px;
  text-align: justify;
}

/* line 30, ../sass/modules/_aboutUs.scss */
.message-section {
  background: gray;
  padding: 50px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* line 44, ../sass/modules/_aboutUs.scss */
.message-section .message-container {
  max-width: 60%;
  background: rgba(153, 153, 153, 0.7);
  padding: 30px 50px 30px 30px;
  border-radius: 15px;
}
/* line 51, ../sass/modules/_aboutUs.scss */
.message-section .message-container .image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
/* line 57, ../sass/modules/_aboutUs.scss */
.message-section .message-container .image img {
  border-radius: 10px;
}
/* line 62, ../sass/modules/_aboutUs.scss */
.message-section .message-container h3, .message-section .message-container h4 {
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
}
/* line 70, ../sass/modules/_aboutUs.scss */
.message-section .message-container h4 {
  text-transform: capitalize;
  color: #323232;
}
/* line 76, ../sass/modules/_aboutUs.scss */
.message-section .message-container .message {
  padding: 20px 0;
}
/* line 79, ../sass/modules/_aboutUs.scss */
.message-section .message-container .message p {
  font-size: 18px;
  letter-spacing: .5px;
  text-align: justify;
  line-height: 1.5em;
  font-weight: bold;
  color: #000;
}
/* line 87, ../sass/modules/_aboutUs.scss */
.message-section .message-container .message p::before {
  content: '\f10d';
  font-family: "FontAwesome";
  font-size: 40px;
  padding: 0 10px;
}
/* line 94, ../sass/modules/_aboutUs.scss */
.message-section .message-container .message p::after {
  content: '\f10e';
  font-family: "FontAwesome";
  font-size: 40px;
  padding: 0 10px;
  position: relative;
  top: 10px;
}

/* line 107, ../sass/modules/_aboutUs.scss */
#M-D {
  background-image: url("D:/work/HotelSatyam/images/Queen-Room.jpg");
}

@media screen and (max-width: 1000px) {
  /* line 114, ../sass/modules/_aboutUs.scss */
  #introduction .text-container {
    padding: 10px 0;
  }

  /* line 120, ../sass/modules/_aboutUs.scss */
  .message-section .message-container {
    max-width: 100%;
  }
}
