.displaySection{

    .displayConference{

        .card{
            width: 100%;
            
            img.cardImage{
                height: 100%;
                width: 100%;
            }

        }
        
        .card-desc{
            width: 100%;
            height: auto;
            padding: 10px 0;
            text-align: center;
            margin-bottom: 30px;

            h4{
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin: 0;
                color: blue;
                text-align: center;
            }

            h5{
                margin: 5px 0  10px 0;
                padding: 0;
                color: $fontColor;
                font-size: 16px;
            }

        }
    }
}

@media screen and (min-width: 1000px){
    .displayConference{
        padding: 0 70px;

        .card{
            height: 200px;
        }
    }
}

@media screen and (max-width: 1000px){

    .displayConference{
        padding: 0 20px;

        .card{
            height: 40vw;
        }
    }

    .card-desc{
        padding: 5px;
    }
}