.displaySection{

    .title{
        padding: 0 70px;
        margin: 40px 0 20px 0;

        hr{
            height: 0;
            border-top: 2px solid $fontColor;
        }
    
        .titleText{
            font-size: 23px;
            font-weight: bolder;
            width: 25% ; 
            background: #fff;
            margin: -40px auto 0 auto;
            text-align: center;
            padding: 0 10px;
        }

    }
    
    .displayRooms{


        .card{
            width: 100%;
            height: 200px;
            background: #aaa;

            img.cardImage{
                height: 200px;
                width: 55%;
            }

            .card-desc{
                position: absolute;
                right: 15px;
                top: 0;
                width: 43%;
                height: 200px;
                padding: 10px;
                //background: green;

                h4{
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin: 5px 0;
                    color: blue;
                }

                h5{
                    margin: 0;
                    padding: 0;
                    color: orangered;
                }

                p{
                    font-weight: bold;
                    text-align: justify;
                    padding: 5px 0 0 0;
                }

                button{
                    background: #eee;
                    color: $primaryColor;
                    border: none;
                    border-radius: 3px;
                    font-size: 18px;
                    margin: 0 auto;

                    &:hover{
                        background: #ddd;
                    }
                }
            }
        }
    }

    .displayConference{
        padding: 0 70px;

        .card{
            width: 100%;
            height: 250px;
            background: #aaa;

            img.cardImage{
                height: 100%;
                width: 100%;
            }

        }
        
        .card-desc{
            width: 100%;
            height: auto;
            padding: 10px;
            text-align: center;

            h4{
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin: 0;
                color: blue;
                text-align: center;
            }

            h5{
                margin: 5px 0  10px 0;
                padding: 0;
                color: $fontColor;
                font-size: 16px;
            }

        }
    }

    .displayCulinary{
        padding: 0 50px;

        ul.culinary-navigator{
            list-style: none;
            height: 50vh;
            width: 95%;
            background: backgroundColor;
            padding: 0;
            padding-bottom: 0;
            text-align: center;

            li{
                width: 100%;
                height: 16.67%;
                font-size: 23px;
                border: none;
                border-top: 2px solid #353cff;
                padding: 8px 0 ;

                a{
                    text-decoration: none;
                    color: $fontColor;
                    background: transparent;
                }

                i{
                    display: none;
                    font-size: 50px;
                    position: relative;
                    float: right;
                    right: -15px;
                    top: -7px;
                    color: $primaryColor;
                }

                #right-D{
                    display: block;
                }
            }

            li.active{
                background: $primaryColor;

                a{
                    color: #eee;
                }

                
            }

            li:first-child{
                border: none;
            }

            li:last-child{
                border-bottom: 2px solid #353cff;
            }
        }

        .culinary-content{
            width: 100%;
            height: 50vh;
            //background: gray;

            .tab-pane{

                ul.image-container{
                    list-style: none;
                    width: 100%;
                    height: 15vh;
                    //background: brown;
                    padding: 0;
                    margin: 0;
    
                    li{
                        display: inline-block;
                        width: 19%;
                        height: 100%;
                        background: #aaa;
                        margin-left: .6%;
                        border-radius: 5px; 
                        overflow: hidden;
                    }
                }

                .content{

                    h4{
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        color: blue;
                        font-weight: bold;
                    }

                    p{
                        text-align: justify;
                        font-weight: bolder;
                        font-size: 15px;
                        padding-bottom: 10px;
                    }

                    button{

                    }
                }
            }


        }
    }
}  