.gallery{
    .wrapper{
        padding: 0 20px;

        .box{
            height: 220px;
            display: flex;
            background: #aaa;
            border-radius: 10px;
            overflow: hidden;
        }
    }
}

.resp_gallery{
    display: none;
}

@media screen and (max-width: 1024px){

    .gallery{

        .gallery_slide{

            ul{
                //background: blue;
                height: auto;

                li{
                    height: 15vw;
                }
            }
        }
    }

    .resp_gallery{
        display: none;
    }
}

@media screen and (max-width: 1000px){
    .gallery{
        display: none;
    }

    .resp_gallery{
        display: block;

        .row{
            margin-bottom: 20px;
        }

        img{
            box-shadow: 0 0 10px 2px #ccc;
        }
    }
}