#header{
    width: 100%;
    height: 40px;
    background: $primaryColor;
    padding: 3px 0 0 0;
    margin: 0;
    z-index: 99;
    position: relative;

    .headerElement{
        display: inline-block;
    }
    
    ul{
        margin: 0;
        padding: 0;
        width: 85%;
        float: right;
        list-style: none;

        #headerSocial{
            text-align: right;

            .fab{
                font-size: 20px;
                padding: 7px 0 0 20px;
            }

            .fb{
                 color: #3b5998;
            }
                
            .tw{
                color: #38A1F3;
            }
                
            .pinterest{
                background: #fff;
                border-radius: 50%;
                height: 22px;
                width: 22px;
                color: #c8232c;
                padding: 1px;
                margin-left: 10px;
            }
                
            .linkedin{
                color: #0077B5;
            }
        }

        #headerEmail{
            padding-left: 20px;
        }

        li{
            display: inline-block;
            width: 33%;

            h6{
                padding: 0 0 0 10px;
                font-size: 18px;
                font-weight: bold;
                color: #fff;
            }

            span{
                color: #333;
                font-size: 18px; 
            }

            .headerItem{
                display: inline-block;
            }
        }
    }

    #logo{
        width: 100px;
        z-index: 999;
        margin-top: -2px;
    }
}

@media screen and (max-width: 1000px){

    #header{
        width: 100%;
        height: auto;
        padding: 0px 0 10px 0;       

        #logo{
            display: none;
        }

        .container{
            padding: 0;
            margin: 0;
        }

        ul{
            float: none;
            width: 100%;
            text-align: center;

            li{
                width: 100%;
                text-align: center;
                padding-top: 10px;

                .headerItem {
                    display: inline;
                }
            }

            #headerSocial{
                text-align: center;
            }
        }
    }
}

