#imageslider{
    margin-top: -10px;
    height: 35vw;
    width: 100%;
    padding: 0;
    position: relative;
    top: -10px;
    //z-index: -1;

    ol{
        margin-bottom: 5vw;
        z-index: 1;

        li{
            height: 15px;
            width: 15px;
            margin: 3px;
            border-radius: 50%;
        }
    }

    img{
        width: 100%;
        height: 100%;
    }

    .carousel-control{
        margin: auto;
        height: 95%;
    }

}

#bookingSection{
    height: 100px;
    width: 80%;
    background: rgba($color: #aaa, $alpha: .8);
    margin: -50px auto 0px auto;
    padding: 10px 30px;
    border-radius: 6px;
    box-shadow: 0 0px 5px 1px #777;
    position: relative;
    z-index: 99;
    display: flex;
    // // flex-wrap: nowrap;
    // align-items: center;

    

    form{
        // background: red;
        margin: auto 0;
        display: flex;
        overflow: hidden;
        

        .button-container{
            z-index: 99;
            padding-top: 20px;
            // background: #aaa;
            border-radius: 0 10px 10px 0;
            width: 20%;
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            
            input{
                margin: 8px;
                height: 30px;
                // width: 45%;
            }

            input[type=submit]{
                // background: green;
                // font-size: 18px;
                letter-spacing: 0;
                padding: 0 10px;
            }
        }

        .wrapper{
            width: 80%;
            overflow-x: hidden;
            display: flex;
            flex-wrap: nowrap;
        }

        #secondForm{
            grid-template-columns: repeat(4, auto);
        }
        
        .slide{
            min-width: 100%;
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            display: grid;
            grid-template-columns: repeat(5, 19%);
            grid-column-gap: 11px;
            width: 100%;
            padding: 10px 10px;

            transition: transform 1s ease-in-out;

            //transform: translateX(-100%);
            .column{
                // margin: 10px auto;
                // background: yellow;
                display: flex;
                flex-direction: column;
                justify-content: center;

                label{
                    text-transform: capitalize;
                    font-weight: bold;
                    font-size: 18px;
                    padding: 0 10px;
                }

                input,select{
                    height: 30px;
                    border-radius: 10px;
                    border: none;
                }
                
                input{
                    padding: 0 10px;
                }

                input[type=date]{
                    text-transform: uppercase;
                    
                    &::-webkit-inner-spin-button{
                        display: none;
                    }
        
                    &::-webkit-calendar-picker-indicator {
                        color: rgba(0, 0, 0, 0);
                        opacity: 1;
                        display: block;
                        background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
                        width: 15px;
                        height: 15px;
                        border-width: thin;
                        cursor: pointer;
                        
                    }
                }
    
            }
        }
    }

    
    
}

#resp-bookingSection{
    display: none;
}

@media screen and (max-width: 1000px) {
    #imageslider{
        height: 50vw;
        position: inherit;
    }

    #bookingSection{
        display: none;
    }

    #resp-bookingSection{
        display: block;
        position: inherit;
        margin: 20px 0 0 0;
        height: auto;
        background: rgba($color: #aaa, $alpha: .8);
        padding: 10px 30px;
        border-radius: 6px;
        box-shadow: 0 0px 5px 1px #777;
    
        //z-index: -1;

        form#booking_form{
            width: 100%;
    
            #booking_GuestNos{
                width: 100%;
    
                &::-webkit-{
                    display: none;
                }
            }
    
            input[type=submit]{
                
                font-family: 'calibri';
            }
    
            label{
                font-size: 18px;
                padding: 10px 0;
            }
    
            input{
                height: 40px;
                width: 100%;
                border-radius: 6px;
                border: none;
                font-weight: bolder;
                font-family: "consolas";
            }
    
            select{
                height: 40px;
                width: 100%;
                border: none;
                border-radius: 10px;
    
                
            }
            
            .labels{
                display: none;
            }
    
            input[type=date]{
                text-transform: uppercase;
                
                &::-webkit-inner-spin-button{
                    display: none;
                }
    
                &::-webkit-calendar-picker-indicator {
                    color: rgba(0, 0, 0, 0);
                    opacity: 1;
                    display: block;
                    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
                    width: 15px;
                    height: 15px;
                    border-width: thin;
                    cursor: pointer;
                    
                }
            }
    
            input[type=number]{
    
                text-align: right;
    
            //     &::-webkit-inner-spin-button{
            //         display: none;
            //     }
            }
    
            span{
                position: absolute;
                right: 45px;
                height: 35px;
                width: 35px;
                background: red;
                font-size: 25px;
                opacity: .8;
    
                i{
                    padding: 7px;
                    background: red;
                    //font-size: 20px;
                    z-index: -1;
                }
            }
    
        }

        #booking_labels{
            display: none;
        }

        form#booking_form{

            .labels{
                display: block;
                font-size: 18px;
                font-weight: bold;
                padding-top: 10px;
            }

            input[type=submit]{
                margin-top: 30px;
            }

            input[type=number]{
                text-align: left
            }
        }

    }
}