#navbar{
    position: relative;
    margin-bottom: -10px;
    padding: 0;
    height: auto;
    z-index: 99;

    .resp-navbar{
        display: none;
    }

    ul{
        list-style: none;
        text-transform: uppercase;
        background: transparent;
        float: right;
        width: 90%;
        height: 40px;
        padding: 9px 0 0 0;
        font-size: 16px;
        margin-top: -2px;
        font-weight: bolder;
        letter-spacing: 2px;

        li{
            display: inline;
            padding: 10.5px 18px;
            text-align: center;
            cursor: pointer;

            a{
                text-decoration: none;
                color: #222;
            }

            &:hover{
                background: #eee;
            }

            ul{
                background: #ccc;
                height: auto;
                width: auto;
                border: none;
                box-shadow: none;
                font-size: 14px;
                border-radius: 0;
                padding: 0;
                margin: 0;
                //width: 20%;
                //float: left;
                
                li{
                    display: block;
                    border-top: 1px solid #ddd;

                    a{
                        display: block;
                        padding: 0;
                        margin: 0;
                        background: transparent;
                        font-weight: bolder;
                    }
                }

                li:first-child{
                    border: none;
                }

            }
        }
    }
}

@media screen and (max-width: 1199px){
    
    #navbar ul li{
        padding: 11px 5px;
    }
}

@media screen and (max-width: 1000px){
    
    #navbar{
        height: 50px;
        width: 100%;
        background: #ddd;
        padding: 0;
        margin: 0;

        .resp-navbar{
            display: block;
            
            ol{
                list-style: none;
                width: 100%;
                height: 50px;
                margin: 0;
                padding: 0 0 0 0px;

                li{
                    display: inline-block;
                    text-align: center;
                    margin: 0;
                }

                #menuToggler{
                    //display: block;
                    float: right;
                    border: none;
                    height: 50px;
                    width: 50px;
                    font-size: 20px;
                    margin: 0;
                    background: transparent;
                    padding: 15px 0 0 0;
                    cursor: pointer;

                    button{
                        background: transparent;
                        border: none;
                    }

                    &:hover{
                        background: #ccc;
                    }
                }

                #menu{
                    font-size: 20px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    //width: 90%;
                    height: 50px;
                    padding: 4px 0 0 40%;
                }
                
            }

        }

        .container{
            display: none;
            padding: 0;

            ul{
                background: #ddd;
                width: 100%;
                height: 50vh;
                margin: 0;
                padding-top: 0;
                overflow-y: scroll;

                .slideDown1{
                    transform: translateY(42vh);

                    transition: transform 300ms 0ms;
                }

                .slideDown2{
                    transform: translateY(14vh);

                    transition: transform 300ms 0ms;
                }
                
                .slideDown3{
                    transform: translateY(14vh);

                    transition: transform 300ms 0ms;
                }

                .slideDown4{
                    transform: translateY(42vh);

                    transition: transform 300ms 0ms;
                }
                
                &::-webkit-scrollbar{
                    width: 7px;
                }

                &::-webkit-scrollbar-thumb{
                    background: #aaa;
                    border-radius: 5px;
                }

                &::-webkit-scrollbar-track{
                    background: #ddd;
                }

                li{
                    display: block;
                    position: relative;
                    transform: translateY(0px);

                    transition: transform .5s 0s;

                    ul{
                        display: none;
                        padding: 0;
                        //opacity: 1;
                        background: #ccc;
                        //height: 42vh;

                        &::-webkit-scrollbar{
                            display: none;            
                        }
                        
                        li:nth-child(n){
                            background: #ccc;

                            &:hover{
                                background: #aaa;
                            }
                        }
                    }

                    #aboutus_subMenu{
                        height: 42vh;
                    }

                    #rooms_subMenu{
                        height: 14vh;
                    }

                    #conference_subMenu{
                        height: 14vh;
                    }

                    #culinary_subMenu{
                        height: 42vh;
                    }

                }
            }
        }
    }
}