#navbar{
    position: relative;
    margin-bottom: -10px;
    padding: 0;
    height: auto;
    z-index: 99;

    .resp-navbar{
        display: none;
    }

    ul{
        list-style: none;
        text-transform: uppercase;
        background: transparent;
        float: right;
        width: 90%;
        height: 40px;
        padding: 9px 0 0 0;
        font-size: 16px;
        margin-top: -2px;
        font-weight: bolder;
        letter-spacing: 2px;

        li{
            display: inline;
            padding: 10.5px 18px;
            text-align: center;
            cursor: pointer;

            a{
                text-decoration: none;
                color: #222;
            }

            &:hover{
                background: #eee;
            }

            ul{
                background: #ccc;
                height: auto;
                width: auto;
                border: none;
                box-shadow: none;
                font-size: 14px;
                border-radius: 0;
                padding: 0;
                margin: 0;
                //width: 20%;
                //float: left;
                
                li{
                    display: block;
                    border-top: 1px solid #ddd;

                    a{
                        display: block;
                        padding: 0;
                        margin: 0;
                        background: transparent;
                        font-weight: bolder;
                    }
                }

                li:first-child{
                    border: none;
                }

            }
        }
    }
}

@media screen and (max-width: 1199px){
    
    #navbar ul li{
        padding: 11px 5px;
    }
}

@media screen and (min-width: 1000px){
    #resp_navbar{
        display: none;
    }
}

@media screen and (max-width: 1000px){
    #navbar{
        display: none;
    }

    

    #resp_navbar{
        display: block;

        button{
            display: block;
            position: absolute;
            right: 20px;
            margin: 15px 0;
        }

        h3{
            padding: 10px;
            margin: 0;

            img{
                padding: 0;
            }
        }

        #myNavbar{
            
            ul{
                text-align: center;
                font-weight: bolder;
                letter-spacing: 1px;
                text-transform: uppercase;
                li{
                    display: block;
                    //background: green;
                    width: 100%;
                    a{
                        color: $fontColor;
                    }
                    
                    ul{
                        list-style: none;
                        text-align: center;
                        text-transform: uppercase;
                        padding: 0;

                        li{
                            padding: 10px 0 ;
                            background: #eee;

                            a{
                                color: #555;
                                text-decoration: none;
                            }

                            &:hover{
                                background: #bbb;
                            }
                        }
                    }

                    &:hover{
                        background: #ddd;
                    }
                }
            }
        }
    }
}
