.review{
    padding: 0 50px;
    text-align: justify;

    .links, .review_container{
        width: 100%;
        height: auto;
    }

    .links{
        padding: 30px;

        #links_imageContainer{
            width: 100%;
            height: 100%;
            padding: 0 30px 0 0;

            img{
                width: 100%;
                height: auto;
            }
        }

        h3{
            margin: 0;
            //height: auto;
            text-align: center;
            font-weight: bolder;
            letter-spacing: 1px;
            color: $primaryColor;
        }

        #hotel_links{
            display: flex;
            padding-top: 10px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            align-content: center;

            .link_Container{
                width: 100%;
                height: 73px;
                margin: 5px;

                img{
                    height: 100%;
                    //width: 100%;
                    margin: auto;
                }
            }
            
        }
    }

    #review-container{

        .review_container{
            padding: 30px 10px;
            
    
            h3{
                margin: 0;
                text-align: center;
                font-weight: bolder;
                letter-spacing: 1px;
                color: $primaryColor;
                // background: green;
                // max-height: 100px;
            }
    
            .media{
                width: 100%;
    
                .checked{
                    color: orange;
                }
    
                #review_userProfile{
                    padding: 0 20px 0 0;   
                }
                
        
                h4, h5{
                    text-align: center;
                    margin: 0;
        
                }
            }
    
            .blockquote{
                padding: 0 15px;
                border-left-color: red;
                
                #review-o-carousel{
                    height: 16vw;
                    
                   
                    .content{
                        padding: 20px 0;
                        display: block;
                        min-width: 100%;
                        // width: 100%;
                        height: 100%;
                        img{
                            border-radius: 10px;
                        }
                    }
                }

                
            }

            .sliderButtonContainer{
                float: left;
                display: flex;

                button{
                    height: 30px;
                    width: 30px;
                    margin: 0 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }
            }
            
            .buttonContainer{
                float: right;

                button{
                    margin-left: 15px;
                }
            }
    
        }
    }
}

#reviewModal{

    .starRating{
        width: 100%;
        margin: 0 auto 20px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        h4{
            margin: 0 10px;
            font-weight: bolder;
            letter-spacing: 1px;
            text-transform: capitalize;
        }
        
        span{
            padding: 3px 5px;
            cursor: pointer;
        }
    }

    form{
        width: 80%;
        margin: auto;

        input, textarea{
            margin: 10px 0;
            width: 100%;
            font-family: 'consolas';
            font-size: 16px;
            border: none;
            border-bottom: 2px solid #333;
            padding: 5px 10px;
        }

        input{
            height: 35px;
        }

        textarea{
            height: 150px;
            resize: none;
            
        }
    }
}


@media screen and (min-width: 1000px){

    
    
    .resp_review_container, .resp_links{
        display: none;
    }
}

@media screen and (max-width: 1000px){
    

    .review_container{
        display: none;
    }

    .review{
        padding: 0 20px;
    }

    .resp_review_container{
        display: block;

        h3{
            margin: 0;
            text-align: center;
            font-weight: bolder;
            letter-spacing: 1px;
            color: $primaryColor;
            
        }

        .media-resp{
            padding: 20px 0;
            border-bottom: 2px solid #bbb;
    
            .checked{
                color: orange;
            }

            #review_userProfile{
                padding: 0 20px 0 0;   
            }
            
    
            h4, h5{
                text-align: center;
                margin: 0;
    
            }

            img{
                border-radius: 50%;
            }
        }
    }
}